
* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Caprasimo', cursive;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

header {
    background: blue;
    height: 10%;
    width: 100%;
}

.content {
    margin-bottom: 100px;
    height: 75%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    justify-content: center;
}

.title {
    font-size: 50px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.game > p {
    font-size: 30px;
}

.numeros {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#numberComputer {
    font-size: 50px;
}

#numberComputer > p {
    color: red;
}

#won  {
    color: blue;
    font-size: 40px;
}

#lost {
    color: red;
    font-size: 40px;
}

.user {
    margin-top: 10px;
    font-size: 25px;
    display: flex;
    gap: 15px;
}

#NumberUser {
    font-size: 20px;
    width: 20%;
    text-align: center;
    padding: 5px;
    outline: none;
    border-radius: 10px;
}

.buttons {
    display: flex;
    gap: 20px;
}

button {
    width: 100px;
    height: 30px;
    cursor: pointer;
}

footer {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*#github, #twitter, #linkedin  {
    width: 10%;
    height: 5%;
}*/


#github {
    width: 75px;
    height: 70px;
    scale: .5;
}

#twitter {
    width: 75px;
    scale: 0.5;
}

#linkedin {
    width: 75px;
    height: 70px;
    scale: 0.5;
}
