
* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Caprasimo', cursive;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

header {
    background: blue;
    height: 10%;
    width: 100%;
}

.content {
    margin-bottom: 100px;
    height: 75%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    justify-content: center;
}

.title {
    font-size: 50px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.game > p {
    font-size: 30px;
}

.numeros {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#divComputer {
    font-size: 50px;
}

#divComputer > p {
    color: green;
}

#win1  {
    color: blue;
    font-size: 40px;
}

#win2 {
    color:  yellow;
    font-size: 40px;
}

#win3 {
    color: rebeccapurple;
    font-size: 40px;
}

#lose1 {
    color: pink;
    font-size: 40px;
}

#lose2 {
    color: purple;
    font-size: 40px;
}

#lose3 {
    color: red;
    font-size: 40px;
}

.user {
    margin-top: 10px;
    font-size: 25px;
    display: flex;
    gap: 15px;
}

#NumberUser {
    font-size: 20px;
    width: 20%;
    text-align: center;
    padding: 5px;
    outline: none;
    border-radius: 10px;
}

.buttons {
    display: flex;
    gap: 20px;
}

button {
    width: 100px;
    height: 30px;
    cursor: pointer;
}

footer {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#github, #twitter, #linkedin {
    width: 75px;
    height: 70px;
    scale: .5;
}
#Divalert {
    position: relative;
    margin-top: -650px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    background: rgba(210, 0, 0, 0.5);
}

#alertButton {
    width: 100px;
    height: 30px;
    background: rebeccapurple;
    color: wheat;
}
